/**
 * From 西瓜宝宝网
 * http://xiguabaobao.com
 * Created with JetBrains WebStorm at 13-5-7
 *
 * Copyright 2013, Jason Xiang
 * info@xiguabaobao.com
 *
 */

*{margin: 0; padding: 0;}
body {
    font-family:microsoft yahei, Arial, sans-serif;
    color: #999999;
    background: #222 url('../images/bg.gif');
    font-size: 12px;
    text-align: center;
}
a {color: #999999; text-decoration: none;}
a:hover {color: #ffffff; cursor: pointer;}
a:active {color: #d8d8d8;}
a:focus {outline: 1px;}

#container {font-size: 50px; height: 100%; line-height: 100%; margin-top:250px;}
#container span.red{color: crimson;}
#container span.orange{color: orangered;}
#container span.yellow{color: yellow;}
#container span.green{color: green;}
#container span.darkorange{color: darkorange;}
#container span.doderblue{color: dodgerblue;}
#container span.purple{color: purple;}
#container span.pink{color: deeppink;}
#container span.greenyellow{color: chartreuse;}

#footer{margin-bottom: 10px; color: #999999; font-size: 12px;}
#footer > span > a{color: #E53C39;}