/*
* CSS Template v0.1
* Copyright 2013, Jason Xiang
* www.xiguabaobao.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 2013-01-19
*/


/* Table of Content
==================================================
    #Reset & Basics
    #Typography
    #Links
    #Lists
    #Images
    #Buttons
    #Forms
    #Misc 
    #Basic Styles
    #Site Styles
    #Media Queries */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, textarea, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline; }
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block; }
    body {
        line-height: 1; }
    ol, ul {
        list-style: none; }
    blockquote, q {
        quotes: none; }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none; }
    table {
        border-collapse: collapse;
        border-spacing: 0; }


/* #Typography
================================================== */
    h1, h2, h3, h4, h5, h6 { color: #181818;line-height:1.1;margin-bottom:0.75em;}
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
    h1 { font-size: 46px;font-size: 4.6rem;}
    h2 { font-size: 35px;font-size: 3.5rem;}
    h3 { font-size: 28px;font-size: 2.8rem;}
    h4 { font-size: 21px;font-size: 2.1rem;}
    h5 { font-size: 17px;font-size: 1.7rem;}
    h6 { font-size: 14px;font-size: 1.4rem;}
    .subheader { color: #777; }

    p {margin:0.75em 0;font-size:20px;font-size:2rem;text-align:justify;}
    p.x2 {font-size:26px;font-size:2.6rem;}
    p img {margin:0;}

    em { font-style: italic; }
    strong { font-weight: bold;}
    small { font-size: 80%; }

    hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
    a, a:visited { color: #333; text-decoration: none; outline: 0; }
    a:hover, a:focus { color: #000;}
    p a, p a:visited { color:#3498DB;border-bottom:1px dashed #DDD;}
    p a:hover, p a:focus { color:#3498DB;border-bottom:1px dashed #3498DB;}


/* #Lists
================================================== */
    li { display: block; float: left;}


/* #Images
================================================== */
    img {
        width: 100%;
        height: auto;

        vertical-align: top;/*修复图片下方的空白*/
    }



/* #Buttons
================================================== */
    .btn,button,input[type="submit"],input[type="reset"],input[type="button"]{display:inline-block;padding:0.3em 1em;margin:1em 0.5em 1em 0;line-height:1.5em;color:white !important;text-align:center;background-color:#111;border-radius:1em;cursor:pointer;}
    .btn:hover,button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover{background-color:#197EE4;color:white !important;}
    .btn.disabled{cursor:default;background-color:#AAA;}
    .btn.disabled:hover{background-color:#AAA;}


/* #Forms
================================================== */
    input {width:200px;margin:0;padding:12px 15px;outline:0;font-size:20px;font-size:2rem;border:0;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
    textarea {width:90%;height:200px;padding:10px 15px;outline:0;font-size:20px;font-size:2rem;border:1px solid #CCC;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}


/* #Misc
================================================== */
    .clearfix {clear: both !important;}
    .push-down{margin-top:400px !important;}


/* #Basic Styles
================================================== */
    html {
        font-size:62.5%;/*fix for IE（use 63% instead of 62.5%）*/
    }
    body {
        background-color:#FFF;
        font-family:Helvetica, "Microsoft Yahei", Arial, sans-serif;
        line-height:1.5;
        color:#444;
        -webkit-font-smoothing:antialiased; /* Fix for webkit rendering */
        -webkit-text-size-adjust:100%;
    }
    
    

/* #Site Styles
================================================== */
    
    /*页头.header*/
    .header {position:fixed;z-index:999999;left:0;top:0;right:0;padding:1em;font-size:1.6em;text-align:center;background:white;border-bottom:1px solid #DDD;box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);}


    /*导航.nav*/
    .nav li{display:inline-block;float:none;vertical-align:top;}
    .nav li a{line-height:2em;padding:0 1em;display:inline-block;letter-spacing:1px;}
    .nav li a:hover{color:white;background-color:#39BBEA;border-radius:1em;}
    .nav li.active{font-weight:bold;}
    .nav li .logo{width:2em;height:2em;vertical-align:top;-webkit-transition:-webkit-transform 1.2s ease-in-out;-moz-transition:-moz-transform 1.2s ease-in-out;-ms-transition:-ms-transform 1.2s ease-in-out;-o-transition:-o-transform 1.2s ease-in-out;transition:transform 1.2s ease-in-out;}
    .nav li .rotate{-webkit-transform:rotate(720deg);-moz-transform:rotate(720deg);-ms-transform:rotate(720deg);-o-transform:rotate(720deg);transform:rotate(720deg);}


    /*正文.content*/
    .content{width:100%;height:100%;margin-top:2.8em;font-size:2em;}
    
    /*browsehappy*/
    .browsehappy{position:relative;padding:.4em;color:#A94442;text-align:center;background-color:#F2DEDE;}
    .browsehappy a{color:#A94442;font-weight:bold;border-bottom:1px dashed #A94442;}

    .bg{width:100%;height:100%;position:fixed;top:0;left:0;bottom:0;z-index:-1;background-color:black;filter:alpha(opacity=80);opacity:.8;}
    .bg-img{width:100%;height:100%;}
    .container{position:relative;margin:0 auto;padding:2em 1.5em;text-align:justify;}/*两端对齐*/
    .content-container{background:white;}
    .section{position:relative;width:60%;margin:0 auto;text-align:left;}
    .section h2{margin-top:0.75em;}


    /*index页面*/
    .slide-wrapper{position:relative;width:100%;height:378px;overflow:hidden;}
    .slide{position:absolute;left:-417px;width:2200px;height:378px;}
    .slide-item{position:relative;z-index:1;float:left;width:700px;height:378px;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s;-ms-transition:all .25s;-o-transition:all .25s;transition:all .25s;
        -webkit-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.8);-moz-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.8);-ms-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.8);-o-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.8);box-shadow:0px 0px 20px rgba(0, 0, 0, 0.8);}
    .slide-item.active{z-index:2;width:800px;height:378px;margin-top:0;}
    .slide-item img{height:100%;}
    .slide-title{position:absolute;right:0;bottom:0;left:0;width:100%;padding:1em 0;display:none;text-align:center;background:url(../img/opacity_black_80.png);}
    .slide-title a{color:#FFCC00;}
    .slide-item.active .slide-title{display:block;}
    .feature{background-color:#57BC8A;color:white;}
    .feature .section:before{position:relative;top:-15px;left:-5px;width:16px;height:16px;content:url(../img/icon-quotation.png);}
    .feature .quot{position:relative;top:10px;right:5px;display:inline-block;width:16px;height:16px;background:url(../img/icon-quotation.png);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
    .feature-list .section{text-align:center;}
    .feature-item{display:inline-block;*display:inline;*zoom:1;vertical-align:top;width:45%;margin:2%;text-align:center;}
    .feature-item img{width:128px;height:128px;}
    .feature-item h3{margin:.5em 0;}


    /*projects页面*/
    .projects{position:relative;display:inline-block;*display:inline;*zoom:1;vertical-align:top;width:48%;margin-right:1em;margin-bottom:2em;text-align:left;}
    .projects:nth-child(even){margin-right:0;}
    .projects-thumb{overflow:hidden;}
    .projects-thumb img{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
    .projects-thumb:hover img{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
    .projects-description{}

    
    /*Contact页面*/
    .contact{padding:3em 1.5em;background:#111 url(../img/contact-bg.png) top left no-repeat;}
    .contact-form{width:60%;margin:0 auto;text-align:left;}
    .name,.email,.type{position:relative;}
    .tip + .tooltip{left:242px;}
    .tip + label{position:absolute;top:10px;left:15px;font-size:20px;color:#A9A9A9;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
    .submit input{background-color:#3498DB;}
    .type{display:none;visibility:hidden;opacity:0;position:relative;width:100%;height:48px;}

    
    /*下拉菜单*/
    .option{position:relative;width:100%;text-align:left;cursor:pointer;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
    .option-result{}
    .option-arrow{position:absolute;top:5px;left:200px;}
    .option-arrow .arrow{width:0;height:0;font-size:0;border:6px solid;border-color:#6F7880 white white;}
    .option-list{display:none;width:230px;background-color:#F3F3F3;}
    .option-list li{padding:10px 15px;float:none;}
    .option-list li:hover{background-color:#DFDFDF;}
    

    /*tooltip*/
    .tooltip{visibility:hidden;position:absolute;z-index:99999;padding:12px 10px;font-size:16px;color:white;text-align:center;white-space:nowrap;background-color:#3498DB;;
        -webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
    .tooltip:after{content:"";position:absolute;width:0;height:0;color:black;color:transparent;border:6px solid;}
    .tooltip.top:after{top:100%;right:50%;margin-right:-6px;border-top-color:#3498DB;}
    .tooltip.right:after{right:100%;top:50%;margin-top:-6px;border-right-color:#3498DB;}
    .tooltip.bottom:after{bottom:100%;right:50%;margin-right:-6px;border-bottom-color:#3498DB;}
    .tooltip.left:after{left:100%;top:50%;margin-top:-6px;border-left-color:#3498DB;}


    /*页尾.footer*/
    .footer{background:black;color:#888;font-size:1.6em;}
    .footer .social{padding:1em 0;text-align:center;}
    .footer .social li{position:relative;width:66px;height:32px;margin:0 1em;float:none;display:inline-block;*display:inline;*zoom:1;}
    .footer .social li:hover .tooltip,.footer .social li:focus .tooltip{display:block;visibility:visible;z-index:99999;top:-46px;right:50%;width:46px;margin-right:-33px;padding:5px 10px;}
    .footer .social li a{display:inline-block;font-size:1.6em;filter:alpha(opacity=50);opacity:.5;}
    .footer .social li a:hover{color:#EEE;}
    .footer .social li a i{width:32px;height:32px;display:block;}
    .footer .social li a i.icon-weibo{background:url(../img/social-sina.png) no-repeat;}
    .footer .social li a i.icon-qq{background:url(../img/social-qq.png) no-repeat;}
    .footer .social li a i.icon-github{background:url(../img/social-github.png) no-repeat;}
    .footer .links{padding:1em 0;text-align:center;}
    .footer .links a{margin:0 1em;color:#888;}
    .footer .links a:hover{color:#EEE;}
    .footer .copyright{padding:1em 0;text-align:center;}
    .footer .copyright a{color:#888;}
    .footer .copyright a:hover{color:#EEE;}



/* #Media Queries
================================================== */

    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {}

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {}

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {
        .section,.feature-item,.projects{width:100%;}
    }

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {}

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {
        #logo,.slide-wrapper{display:none;}
        .nav li a{padding:0 10px;}
        .header{position:relative;}
        .content{margin-top:0;}
    }